@use './vars';
@use './index';

.list {
    @extend .w-300,
        .h-fit,
        .border-box,
        .bg-primary-highlight,
        .border-none,
        .rounded;
}

.task-base {
    @extend .bg-primary-background, .border-none, .rounded;

    &:hover {
        @extend .bg-primary-base;
    }
}

.task {
    @extend .task-base, .cursor-grab;
}

.shadow-menu {
    box-shadow: 0px 3px 2px vars.$primary-shadow;
}

.h-menu {
    max-height: 70vh;
}

.border-dashed {
    border: 2px dashed vars.$primary-text;
}

.ghost-input {
    @extend .input-base, .bg-transparent;
    &:focus {
        @extend .bg-primary-base;
    }
}

.floating-menu {
    @extend .absolute, .top-0, .left-284, .mbc-8;
    z-index: 100;
}
